@import url(http://fonts.googleapis.com/css?family=Muli:300,400);
body {
  padding-top: 50px;
  background-color: #f2f2f2; }

.brand-blue {
  color: #345888 !important; }

.white {
  color: white; }

.textshadow {
  text-shadow: 1px 1px 8px rgba(150, 150, 150, 0.5); }

h1, h2, h3, h4, h5 {
  font-family: 'Muli'; }

.margin-top-bottom {
  margin: 20px 0; }

.strapline {
  font-family: 'Muli', serif;
  color: white;
  margin-bottom: 40px;
  opacity: 0;
  transition: opacity 2.75s ease-in-out;
  -moz-transition: opacity 2.75s ease-in-out;
  -webkit-transition: opacity 2.75s ease-in-out; }

.full-opacity {
  opacity: 1; }

.splash-register, .splash-login {
  height: 500px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1000;
  color: white;
  display: none;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0; }
  .splash-register .close-btn, .splash-login .close-btn {
    float: right;
    margin-right: 50px;
    font-size: 30px;
    cursor: pointer; }
  .splash-register h2, .splash-login h2 {
    margin: -22px 0px 10px 0px; }
    .splash-register h2 small, .splash-login h2 small {
      color: #f2f2f2; }

.full-screen-splash {
  height: 500px;
  padding: 100px 0px 0px 150px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0; }

.splash-info {
  width: 100%;
  background-color: #345888;
  margin: 0;
  padding: 0;
  color: white; }
  .splash-info h2 {
    padding: 20px 0px 10px 0px; }
  .splash-info .row {
    margin-bottom: 20px; }

.navbar-brand {
  font-family: 'Muli';
  color: #345888; }

.form-control {
  margin-bottom: 15px; }

.splash-login h1 {
  margin-bottom: 30px; }

.register-link, .login-link {
  color: #f2f2f2;
  margin-left: 15px;
  text-decoration: none; }

.register-link:hover, .login-link:hover {
  color: white; }

/* Layout */
.sidebar {
  background-color: #345888;
  border-right: solid 1px #f2f2f2;
  color: #f2f2f2;
  padding: 18px 15px;
  font-weight: 100; }

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -15px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -15px; }

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #4270ad;
  color: #f2f2f2;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out; }

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  /*background-color: #428bca;*/
  background-color: #608ac2; }

.nav-sidebar > li > a:hover {
  color: #345888; }

.content-area {
  background-color: white;
  padding: 0px 15px 40px 15px; }
  .content-area h1, .content-area h2 {
    color: #345888; }

.nomargin {
  margin: 0; }

.whitebg {
  background-color: white !important; }

.offwhitebg {
  background-color: #f2f2f2; }

.bluebg {
  background-color: #345888; }

/* Control Panel */
.profile-pic-btn {
  position: relative;
  z-index: 100;
  margin-top: -45px; }

/* edit business */
.form-border-left {
  border-left: 1px solid #eee; }

/*media queries*/
@media screen and (max-width: 700px) {
  .full-screen-splash {
    padding: 25px 10px;
    height: 340px;
    border-bottom: 2px solid #f2f2f2; } }

/*# sourceMappingURL=style.css.map */
