@import url(http://fonts.googleapis.com/css?family=Muli:300,400);

$brand-blue: #345888;
$off-white: #f2f2f2;
$grey: #eee;


body{
	padding-top:50px;
	background-color: #f2f2f2;
}
.brand-blue{
	color: $brand-blue !important;
}
.white{
	color: white;
}

.textshadow{
	text-shadow: 1px 1px 8px rgba(150, 150, 150, 0.5);
}

h1, h2, h3, h4, h5{
	font-family: 'Muli';
}

.margin-top-bottom{
	margin: 20px 0;
}

.strapline{
	font-family: 'Muli', serif;
	color: white;
	margin-bottom: 40px;
	opacity: 0;
	transition: opacity 2.75s ease-in-out;
   -moz-transition: opacity 2.75s ease-in-out;
   -webkit-transition: opacity 2.75s ease-in-out;
}

.full-opacity{
	opacity: 1;
}

.splash-register, .splash-login{
	height: 500px;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 1000;
	color: white;
	display: none;
	background-repeat:no-repeat;
    background-size:cover;
    margin: 0;

    .close-btn{
		float: right;
		margin-right: 50px;
		font-size: 30px;
		cursor: pointer;
	}

	h2{
		margin: -22px 0px 10px 0px;

		small{
			color: $off-white;
		}
	}
}

.full-screen-splash{
	height: 500px;
	padding: 100px 0px 0px 150px;
	color: white;
    background-repeat:no-repeat;
    background-size:cover;
    margin: 0;
}
.splash-info{
	width: 100%;
	background-color: $brand-blue;
	margin: 0;
	padding: 0;
	color: white;
	h2{
		padding: 20px 0px 10px 0px;
	}
	.row{
		margin-bottom: 20px;
	}
}
.navbar-brand{
	font-family: 'Muli';
	color: $brand-blue;
}

.form-control{
	margin-bottom: 15px;
}

.splash-login{
	h1{
		margin-bottom: 30px;
	}
}

.register-link, .login-link{
	color: $off-white;
	margin-left: 15px;
	text-decoration: none;
}

.register-link:hover, .login-link:hover{
	color: white;
}

/* Layout */

.sidebar{
	background-color: $brand-blue;
	border-right:solid 1px $off-white;
	color: $off-white;
	padding: 18px 15px;
	font-weight: 100;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -15px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -15px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  background-color: lighten($brand-blue, 10%);
  color: $off-white;
  transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  /*background-color: #428bca;*/
  background-color: lighten($brand-blue, 20%);
}

.nav-sidebar > li > a:hover {
	color: $brand-blue;
}



.content-area{
	background-color: white;
	padding: 0px 15px 40px 15px;

	h1, h2{
		color: $brand-blue;
	}
}

.nomargin{
	margin:0;
}

.whitebg{
	background-color: white !important;
}

.offwhitebg{
	background-color: $off-white;
}
.bluebg{
	background-color: $brand-blue;
}

/* Control Panel */
.profile-pic-btn{
	position: relative;
	z-index: 100;
	margin-top: -45px;
}

/* edit business */
.form-border-left{
	border-left: 1px solid $grey;
}

/* business profile */
.jumbobg{
	 -webkit-filter: blur(10px);
	 -webkit-filter: brightness(85%);
	h1, img{
		-webkit-filter: blur(0px);
	 	-webkit-filter: brightness(100%);
	}
	img{
		max-height: 150px;
		max-width: 150px;
	}
}

/* search */
.media{
	margin: 15px;
	padding: 10px;
}
.media-object{
	max-width:50px;
	max-height:50px;
}

/*media queries*/

@media screen and (max-width: 700px) {
    .full-screen-splash{
    	padding: 25px 10px;
    	height: 340px;
    	border-bottom: 2px solid $off-white;
    }
}